body {
    background-color: #ac2225;
}

.form {
    margin-top: 40px;
    background-color: white;
}

.form-width {
    width: 90%;
    background-color: white;
    margin-top: 50px;
    padding: 50px;
}

.btnBlue {
    margin-top: 40px;
    background-color: #02438e;
}

.btnRed {
    background-color: #ac2225;
    margin-top: 40px;
    margin-left: 10px;
}
.title {
    color: white;
    margin-top: 5rem;
    margin-bottom: 7rem;
    margin-left: 5%;
}
